body {
  background-color: #faf9f9;
  font-family: "Quicksand", sans-serif;
}

.title {
  font-size: 50px;
  margin-top: 20px;
  color: #555b6e;
  font-weight: 700;
}

.content {
  margin-top: 20px;
  font-size: 20px;
}

.forms {
  width: 400px;
}

.forms label {
  color: #555b6e;
}

.btn {
  background-color: #89b0ae;
  color: white;
}

.info {
  text-align: center;
  color: #555b6e;
}

.underweight {
  background-color: red;
  color: white;
  padding: 5px;
  font-weight: bold;

}

.normal {
  background-color: green;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.obese {
  background-color: darkred;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.slidecontainer {
  margin-top: 50px;
  text-align: center;
}

.slider:hover {
  opacity: 1;
}

.slider {
  width: 500px;
  background-image: linear-gradient(to right, red,green,red); 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

/* Nese eshte nderpeshe ose mbipeshe */

.sliderun {
  width: 500px;
}

.sliderun::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.sliderun::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
